
.header__item {
    background-color: var(--header-color);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon__item {
    display: flex;
    list-style: none;
    margin-left: 30px;
    gap: 10px;
}
.icon__item a {
    cursor: pointer;
}

.icon__item a:hover {
    color: var(--first-color);
    transition: all .3s ease;
}

