
.header__item {
    background-color: var(--header-color);
    position: relative;
    top: 0;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon__item {  
    display: flex;
    list-style: none;
    gap: 20px;
}
.icon__item a {
    cursor: pointer;
}

.icon__item a:hover {
    color: var(--first-color);
    transition: all .3s ease;
}







