:root {


  /* COLORS*/
  --body-color: #2B2A2A;
  --first-color: #0284C7;
  --font-color: #A1A1AA;
  --black-color: #000000;
  --header-color: #e2e8f0;
  --input-color: #1E1E20;
  --task-color: #373636;


  /* FONT WEIGHT*/
  --weight-500: 500;
  

  /* FONT SIZE */
  --placeholder-size: 16px;
  --footer-size: 12px;
  --main-size: 15px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

h3 {
  font-size: var(--main-size);
  color: rgb(196, 196, 204);
  font-weight: var(--weight-500);
}

p {
  font-size: 11px;
  color: rgb(196, 196, 204);
  font-weight: var(--weight-500);
}
