:root {
  /* COLORS*/
  --body-color: #2B2A2A;
  --first-color: #0284C7;
  --font-color: #A1A1AA;
  --black-color: #000000;
  --header-color: #A1A1AA;

  /* FONT WEIGHT*/
  --weight-500: 500;
  

  /* FONT SIZE */
  --placeholder-size: 16px;
  --body-size: 29px;
  --footer-size: 14px;
  --main-size: 19px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}