html, body {
    background-color: var(--body-color);
}

/* RESPONSIVE */

@media screen and (max-width: 770px) {
    .task__item {
       width: 500px;
    }
    
}

@media screen and (max-width: 620px) {
    .task__item {
        width: 350px;
     }
}

@media screen and (max-width: 450px) {
    .task__item {
        width: 300px;
     }
}

@media screen and (max-width: 400px) {
    .task__item {
        width: 260px;
     }
}

@media screen and (max-width: 360px) {
    .task__item {
        width: 240px;
     }
}